# https://google.github.io/styleguide/cppguide.html
---
BasedOnStyle: GOOGLE
UseTab: Never
TabWidth: 4
IndentWidth: 4
AllowShortBlocksOnASingleLine: "false"
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: "false"
DerivePointerAlignment: "false"
ExperimentalAutoDetectBinPacking: "false"
FixNamespaceComments: "true"
InsertBraces: "true"
