---
# Configure clang-tidy for this project.

Checks: '
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  bugprone-*,
  concurrency-*,
  performance-*,
  portability-*,
  misc-*,
  readability-*,
HeaderFilterRegex: '(build/.+)'
FormatStyle: webkit